AE-go_DataPack/gameserver/data/static_data/skills/skills.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../import.xsd" />
	<xs:element name="skill_data">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="skill_template" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence />
						<xs:attribute name="skill_id" type="xs:int" use="required" />
						<xs:attribute name="name" type="xs:string" />
						<xs:attribute name="level" type="xs:int" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

