tools/AionClientParser/src/client_strings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.1">

	<xs:element name="strings">
	   <xs:complexType>
		  <xs:sequence>
			<xs:element name="string" type="ClientString" minOccurs="1" maxOccurs="unbounded"/>
		  </xs:sequence>
	   </xs:complexType>
	</xs:element>

	<xs:complexType name="ClientString">
	  <xs:sequence>
		<xs:element name="id" type="xs:int"/>
		<xs:element name="name" type="xs:string"/>
		<xs:element name="body" type="xs:string"/>
	  </xs:sequence>
	</xs:complexType>

</xs:schema>
