AE-go_GameServer/data/static_data/skills/skills.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="../import.xsd" />
	<xs:include schemaLocation="../modifiers.xsd" />

	<xs:element name="skill_data" type="skillData" />

	<xs:complexType name="skillData">
		<xs:sequence>
			<xs:element ref="import" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="skill_template" type="SkillTemplate"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SkillTemplate">
		<xs:sequence>
			<xs:element name="initproperties" type="Properties"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="startconditions" type="Conditions"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="setproperties" type="Properties"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="useconditions" type="Conditions"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="effects" type="Effects" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="actions" type="Actions" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="skill_id" type="skillId" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="skilltype" type="skillType" use="required" />
		<xs:attribute name="skillsubtype" type="skillSubType"
			use="required" />
		<xs:attribute name="activation" type="activationAttribute"
			use="required" />
		<xs:attribute name="duration" type="xs:int" use="required" />
		<xs:attribute name="cooldown" type="xs:int" use="optional"
			default="0" />
	</xs:complexType>

	<xs:complexType name="Effects">
		<xs:sequence>
			<xs:element name="root" type="RootEffect" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="buf" type="BufEffect" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="dot" type="DamageOverTimeEffect"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="hot" type="HealOverTimeEffect"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="transform" type="TransformEffect"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Conditions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mp" type="MpCondition" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="target" type="TargetCondition"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="playermove" type="PlayerMovedCondition"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="arrowcheck" type="ArrowCheckCondition"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Properties">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="addweaponrange" type="AddWeaponRangeProperty"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="firsttarget" type="FirstTargetProperty"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="firsttargetrange" type="FirstTargetRangeProperty"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="targetrange" type="TargetRangeProperty"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="targetrelation" type="TargetRelationProperty"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Actions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="damage" type="DamageAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="return" type="ReturnAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="itemuse" type="ItemUseAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="mpuse" type="MpUseAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="hpuse" type="HpUseAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="dummy" type="DummyAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="itemheal" type="ItemHealAction"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="itemhealmp" type="ItemHealMpAction"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="heal" type="HealAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="healmp" type="HealMpAction" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Condition" abstract="true" />
	<xs:complexType name="Action" abstract="true" />
	<xs:complexType name="Effect" abstract="true">
		<xs:attribute name="duration" type="xs:int" use="required" />
	</xs:complexType>
	<xs:complexType name="Property" abstract="true" />

	<!-- ACTIONS -->

	<xs:complexType name="DamageAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="type" type="DamageType" />
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" />
				<xs:attribute name="check" type="xs:string" />
				<xs:attribute name="checkvalue" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="DamageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PHYSICAL" />
			<xs:enumeration value="MAGICAL" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ReturnAction">
		<xs:complexContent>
			<xs:extension base="Action">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ItemUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="itemid" type="xs:int" use="required" />
				<xs:attribute name="count" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MpUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HpUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DummyAction">
		<xs:complexContent>
			<xs:extension base="Action">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ItemHealAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ItemHealMpAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HealAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HealMpAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- EFFECTS -->

	<xs:complexType name="RootEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DamageOverTimeEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="checktime" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" use="required" />
				<xs:attribute name="damage" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HealOverTimeEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="type" type="HopType" use="required" />
				<xs:attribute name="checktime" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" />
				<xs:attribute name="value" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="BufEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:sequence>
					<xs:element name="change" type="Change" minOccurs="1"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TransformEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="model" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- CONDITIONS -->

	<xs:complexType name="MpCondition">
		<xs:complexContent>
			<xs:extension base="Condition">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PlayerMovedCondition">
		<xs:complexContent>
			<xs:extension base="Condition">
				<xs:attribute name="allow" type="xs:boolean" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TargetCondition">
		<xs:complexContent>
			<xs:extension base="Condition">
				<xs:attribute name="value" type="TargetAttribute" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ArrowCheckCondition">
		<xs:complexContent>
			<xs:extension base="Condition">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- PROPERTIES -->

	<!-- init properties -->

	<xs:complexType name="AddWeaponRangeProperty">
		<xs:complexContent>
			<xs:extension base="Property">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- set properties -->

	<xs:complexType name="FirstTargetProperty">
		<xs:complexContent>
			<xs:extension base="Property">
				<xs:attribute name="value" type="FirstTargetAttribute"
					use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="FirstTargetRangeProperty">
		<xs:complexContent>
			<xs:extension base="Property">
				<xs:attribute name="value" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TargetRangeProperty">
		<xs:complexContent>
			<xs:extension base="Property">
				<xs:attribute name="maxcount" type="xs:int" />
				<xs:attribute name="distance" type="xs:int" />
				<xs:attribute name="value" type="TargetRangeAttribute"
					use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TargetRelationProperty">
		<xs:complexContent>
			<xs:extension base="Property">
				<xs:attribute name="value" type="TargetRelationAttribute"
					use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- MISC -->

	<xs:simpleType name="TargetAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NPC" />
			<xs:enumeration value="PC" />
			<xs:enumeration value="ALL" />
			<xs:enumeration value="NONE" />
			<xs:enumeration value="SELF" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Change">
		<xs:attribute name="stat" type="modifiersenum" use="required" />
		<xs:attribute name="func" type="StatFunc" use="required" />
		<xs:attribute name="duration" type="xs:int" />
		<xs:attribute name="value" type="xs:string" use="required" />
		<xs:attribute name="delta" type="xs:int" />
	</xs:complexType>

	<xs:simpleType name="skillType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="PHYSICAL" />
			<xs:enumeration value="MAGICAL" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="skillSubType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ATTACK" />
			<xs:enumeration value="CHANT" />
			<xs:enumeration value="HEAL" />
			<xs:enumeration value="BUFF" />
			<xs:enumeration value="DEBUFF" />
			<xs:enumeration value="SUMMON" />
			<xs:enumeration value="SUMMONHOMING" />
			<xs:enumeration value="SUMMONTRAP" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="activationAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ACTIVE" />
			<xs:enumeration value="PROVOKED" />
			<xs:enumeration value="MAINTAIN" />
			<xs:enumeration value="TOGGLE" />
			<xs:enumeration value="PASSIVE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FirstTargetAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="TARGETORME" />
			<xs:enumeration value="ME" />
			<xs:enumeration value="MYPET" />
			<xs:enumeration value="TARGET" />
			<xs:enumeration value="PASSIVE" />
			<xs:enumeration value="TARGET_MYPARTY_NONVISIBLE" />
			<xs:enumeration value="POINT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TargetRangeAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ONLYONE" />
			<xs:enumeration value="PARTY" />
			<xs:enumeration value="AREA" />
			<xs:enumeration value="PARTY_WITHPET" />
			<xs:enumeration value="POINT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TargetRelationAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ENEMY" />
			<xs:enumeration value="MYPARTY" />
			<xs:enumeration value="ALL" />
			<xs:enumeration value="FRIEND" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="skillId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="60000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="HopType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HP" />
			<xs:enumeration value="MP" />
			<xs:enumeration value="FP" />
			<xs:enumeration value="DP" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StatFunc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADD" />
			<xs:enumeration value="PERCENT" />
			<xs:enumeration value="REPLACE" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>

