AE-go_GameServer/data/static_data/skills/skills.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="../import.xsd" />

	<xs:element name="skill_data" type="skillData" />

	<xs:complexType name="skillData">
		<xs:sequence>
			<xs:element ref="import" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="skill_template" type="SkillTemplate"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SkillTemplate">
		<xs:sequence>
			<xs:element name="startconditions" type="Conditions"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="useconditions" type="Conditions"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="effects" type="Effects" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="actions" type="Actions" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="skill_id" type="skillId" use="required" />
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="type" type="skillType" use="required" />
		<xs:attribute name="level" type="xs:int" use="required" />
		<xs:attribute name="duration" type="xs:int" use="required" />
		<xs:attribute name="cooldown" type="xs:int" use="optional"
			default="0" />
	</xs:complexType>

	<xs:complexType name="Effects">
		<xs:sequence>
			<xs:element name="heal" type="HealEffect" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="root" type="RootEffect" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="buf" type="BufEffect" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="debuf" type="DebufEffect" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Conditions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mp" type="MpCondition" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="target" type="TargetCondition"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="playermove" type="PlayerMovedCondition"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Actions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="damage" type="DamageAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="return" type="ReturnAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="itemuse" type="ItemUseAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="mpuse" type="MpUseAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="hpuse" type="HpUseAction" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="dummy" type="DummyAction" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Condition" abstract="true" />
	<xs:complexType name="Action" abstract="true" />
	<xs:complexType name="Effect" abstract="true" />

	<!-- ACTIONS -->

	<xs:complexType name="DamageAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int"/>
				<xs:attribute name="type" type="DamageType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="DamageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PHYSICAL" />
			<xs:enumeration value="MAGICAL" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ReturnAction">
		<xs:complexContent>
			<xs:extension base="Action">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ItemUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="itemid" type="xs:int" use="required" />
				<xs:attribute name="count" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="MpUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="delta" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="HpUseAction">
		<xs:complexContent>
			<xs:extension base="Action">
				<xs:attribute name="value" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DummyAction">
		<xs:complexContent>
			<xs:extension base="Action">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- EFFECTS -->

	<xs:complexType name="HealEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="value" type="xs:int" use="required"/>
				<xs:attribute name="delta" type="xs:int" use="required"/>
				<xs:attribute name="target" type="TargetAttribute"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RootEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:attribute name="duration" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="BufEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="change" type="Change" minOccurs="1"
						maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute name="duration" type="xs:int" use="required"/>
				<xs:attribute name="target" type="TargetAttribute"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="DebufEffect">
		<xs:complexContent>
			<xs:extension base="Effect">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="change" type="Change" minOccurs="1"
						maxOccurs="unbounded" />
				</xs:sequence>
				<xs:attribute name="duration" type="xs:int" use="required"/>
				<xs:attribute name="target" type="TargetAttribute"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	

	<!-- CONDITIONS -->

	<xs:complexType name="MpCondition">
		<xs:complexContent>
			<xs:extension base="Condition">
				<xs:attribute name="value" type="xs:int" use="required"/>
				<xs:attribute name="delta" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PlayerMovedCondition">
		<xs:complexContent>
			<xs:extension base="Condition">
				<xs:attribute name="allow" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TargetCondition">
		<xs:complexContent>
			<xs:extension base="Condition">
				<xs:attribute name="value" type="TargetAttribute" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="TargetAttribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATURE" />
			<xs:enumeration value="NPC" />
			<xs:enumeration value="PLAYER" />
			<xs:enumeration value="MONSTER" />
			<xs:enumeration value="SELF" />
			<xs:enumeration value="NONE" />
		</xs:restriction>
	</xs:simpleType>

	<!-- MISC -->
	
	<xs:complexType name="Change">
		<xs:attribute name="stat" type="StatEnum" use="required"/>
		<xs:attribute name="func" type="StatFunc" use="required"/> <!-- TODO -->
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:simpleType name="skillType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INSTANT" />
			<xs:enumeration value="CHANNELED" />
			<xs:enumeration value="PASSIVE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="skillId">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="60000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StatFunc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADD" />
			<xs:enumeration value="PERCENT" />
			<xs:enumeration value="REPLACE" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="StatEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAXHP" />
			<xs:enumeration value="MAXDP" />
			<xs:enumeration value="MAXHP" />
			<xs:enumeration value="MAXMP" />
			<xs:enumeration value="AGILITY" />
			<xs:enumeration value="BLOCK" />
			<xs:enumeration value="CRITICAL" />
			<xs:enumeration value="EVASION" />
			<xs:enumeration value="WILL" />
			<xs:enumeration value="HEALTH" />
			<xs:enumeration value="ACCURACY" />
			<xs:enumeration value="KNOWLEDGE" />
			<xs:enumeration value="PARRY" />
			<xs:enumeration value="POWER" />
			<xs:enumeration value="STRENGTH" />
			<xs:enumeration value="SPEED" />		
			<xs:enumeration value="HIT_COUNT" />
			<xs:enumeration value="ATTACK_RANGE" />
			<xs:enumeration value="ATTACK_SPEED" />
			<xs:enumeration value="PHYSICAL_DEFENSE" />
			<xs:enumeration value="MAIN_HAND_ACCURACY" />
			<xs:enumeration value="MAIN_HAND_CRITICAL" />
			<xs:enumeration value="MAIN_HAND_POWER" />
			<xs:enumeration value="OFF_HAND_ACCURACY" />
			<xs:enumeration value="OFF_HAND_CRITICAL" />
			<xs:enumeration value="OFF_HAND_POWER" />
			<xs:enumeration value="MAGICAL_ATTACK" />
			<xs:enumeration value="MAGICAL_CRITICAL" />
			<xs:enumeration value="MAGICAL_ACCURACY" />
			<xs:enumeration value="MAGICAL_RESIST" />
			<xs:enumeration value="MAX_DAMAGES" />
			<xs:enumeration value="MIN_DAMAGES" />
			<xs:enumeration value="IS_MAGICAL_ATTACK" />
			<xs:enumeration value="EARTH_RESISTANCE" />
			<xs:enumeration value="FIRE_RESISTANCE" />
			<xs:enumeration value="WIND_RESISTANCE" />
			<xs:enumeration value="WATER_RESISTANCE" />
			<xs:enumeration value="BOOST_MAGICAL_SKILL" />
			<xs:enumeration value="BOOST_CASTING_TIME" />
			<xs:enumeration value="BOOST_HATE" />
			<xs:enumeration value="FLY_TIME" />
			<xs:enumeration value="FLY_SPEED" />
			<xs:enumeration value="PVP_ATTACK_RATIO" />
			<xs:enumeration value="PVP_DEFEND_RATIO" />
			<xs:enumeration value="DAMAGE_REDUCE" />
			<xs:enumeration value="BLEED_RESISTANCE" />
			<xs:enumeration value="BLIND_RESISTANCE" />
			<xs:enumeration value="CHARM_RESISTANCE" />
			<xs:enumeration value="CONFUSE_RESISTANCE" />
			<xs:enumeration value="CURSE_RESISTANCE" />
			<xs:enumeration value="DISEASE_RESISTANCE" />
			<xs:enumeration value="FEAR_RESISTANCE" />
			<xs:enumeration value="OPENAREIAL_RESISTANCE" />
			<xs:enumeration value="PARALYZE_RESISTANCE" />
			<xs:enumeration value="PERIFICATION_RESISTANCE" />
			<xs:enumeration value="POISON_RESISTANCE" />
			<xs:enumeration value="ROOT_RESISTANCE" />
			<xs:enumeration value="SILENCE_RESISTANCE" />
			<xs:enumeration value="SLEEP_RESISTANCE" />
			<xs:enumeration value="SLOW_RESISTANCE" />
			<xs:enumeration value="SNARE_RESISTANCE" />
			<xs:enumeration value="SPIN_RESISTANCE" />
			<xs:enumeration value="STAGGER_RESISTANCE" />
			<xs:enumeration value="STUMBLE_RESISTANCE" />
			<xs:enumeration value="STUN_RESISTANCE" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>

