AE-go_GameServer/data/static_data/quest_data/quest_data.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="quests" type="Quests" />
	
	<xs:complexType name="Quests">
		<xs:sequence>
			<xs:element name="quest" type="Quest" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Quest">
		<xs:sequence>
			<xs:element name="conditions" type="QuestConditions" minOccurs="0" maxOccurs="1" />
			<xs:element name="collect_items" type="CollectItems" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rewards" type="Rewards" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="on_kill_event" type="OnKillEvent" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="on_talk_event" type="OnTalkEvent" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="on_lvl_up_event" type="OnLvlUpEvent" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="on_item_use_event" type="OnItemUseEvent" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="on_enter_zone_event" type="OnEnterZoneEvent" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="finished_quest_conds" type="NumberListType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="class_permitted" type="ClassListType"  minOccurs="0" maxOccurs="1" />
			<xs:element name="gender_permitted" type="Gender"  minOccurs="0" maxOccurs="1" />
			<xs:element name="quest_work_items" type="QuestWorkItems"  minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required" />
		<xs:attribute name="start_npc_id" type="xs:int" />
		<xs:attribute name="end_npc_id" type="xs:int" />
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="minlevel_permitted" type="xs:int"/>
		<xs:attribute name="max_repeat_count" type="xs:int"/>
		<xs:attribute name="cannot_share" type="xs:boolean" default="false"/>
		<xs:attribute name="cannot_giveup" type="xs:boolean" default="false"/>
		<xs:attribute name="f_mission" type="xs:int"/>
		<xs:attribute name="race_permitted" type="Race"/>
	</xs:complexType>

	<xs:complexType name="QuestCondition" abstract="true" >
		<xs:attribute name="op" type="ConditionOperation" use="required" />
	</xs:complexType>
	
	<xs:complexType name="QuestOperation" abstract="true" />

	<xs:complexType name="QuestEvent" abstract="true" >
		<xs:sequence>
			<xs:element name="conditions" type="QuestConditions" minOccurs="0" maxOccurs="1" />
			<xs:element name="operations" type="QuestOperations" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ids" type="NumberListType" />
	</xs:complexType>

	<xs:complexType name="OnKillEvent">
		<xs:complexContent>
			<xs:extension base="QuestEvent"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OnTalkEvent">
		<xs:complexContent>
			<xs:extension base="QuestEvent"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OnItemUseEvent">
		<xs:complexContent>
			<xs:extension base="QuestEvent"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OnLvlUpEvent">
		<xs:complexContent>
			<xs:extension base="QuestEvent"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="OnEnterZoneEvent">
		<xs:complexContent>
			<xs:extension base="QuestEvent">
				<xs:attribute name="names" type="ZoneNameListType" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="QuestConditions">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="dialog_id" type="DialogIdCondition" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="npc_id" type="NpcIdCondition" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="pc_inventory" type="PcInventoryCondition" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="pc_level" type="PcLevelCondition" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="quest_status" type="QuestStatusCondition" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="quest_var" type="QuestVarCondition" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="operate" type="ConditionUnionType" use="required" />
	</xs:complexType>

	<xs:complexType name="QuestOperations">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="give_exp" type="GiveExpOperation" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="give_item" type="GiveItemOperation" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="incrase_quest_var" type="IncraseQuestVarOperation" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="npc_dialog" type="NpcDialogOperation" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="set_quest_status" type="SetQuestStatusOperation" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="start_quest" type="StartQuestOperation" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="take_item" type="TakeItemOperation" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="play_movie" type="PlayMovieOperation" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="override" type="xs:boolean" default="true" />
	</xs:complexType>

	<xs:complexType name="DialogIdCondition">
		<xs:complexContent>
			<xs:extension base="QuestCondition">
				<xs:attribute name="value" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="NpcIdCondition">
		<xs:complexContent>
			<xs:extension base="QuestCondition">
				<xs:attribute name="values" type="NumberListType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PcInventoryCondition">
		<xs:complexContent>
			<xs:extension base="QuestCondition">
				<xs:attribute name="item_id" type="xs:int" use="required" />
				<xs:attribute name="count" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PcLevelCondition">
		<xs:complexContent>
			<xs:extension base="QuestCondition">
				<xs:attribute name="value" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PcRaceCondition">
		<xs:complexContent>
			<xs:extension base="QuestCondition">
				<xs:attribute name="value" type="Race" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="QuestStatusCondition">
		<xs:complexContent>
			<xs:extension base="QuestCondition">
				<xs:attribute name="value" type="QuestStatus" use="required" />
				<xs:attribute name="quest_id" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="QuestVarCondition">
		<xs:complexContent>
			<xs:extension base="QuestCondition">
				<xs:attribute name="value" type="xs:int" use="required" />
				<xs:attribute name="var_id" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GiveExpOperation">
		<xs:complexContent>
			<xs:extension base="QuestOperation">
				<xs:attribute name="value" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="GiveItemOperation">
		<xs:complexContent>
			<xs:extension base="QuestOperation">
				<xs:attribute name="item_id" type="xs:int" use="required" />
				<xs:attribute name="count" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IncraseQuestVarOperation">
		<xs:complexContent>
			<xs:extension base="QuestOperation">
				<xs:attribute name="var_id" type="xs:int" use="required" />
				<xs:attribute name="value" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="NpcDialogOperation">
		<xs:complexContent>
			<xs:extension base="QuestOperation">
				<xs:attribute name="id" type="xs:int" use="required" />
				<xs:attribute name="quest_id" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SetQuestStatusOperation">
		<xs:complexContent>
			<xs:extension base="QuestOperation">
				<xs:attribute name="status" type="QuestStatus" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StartQuestOperation">
		<xs:complexContent>
			<xs:extension base="QuestOperation">
				<xs:attribute name="id" type="xs:int" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TakeItemOperation">
		<xs:complexContent>
			<xs:extension base="QuestOperation">
				<xs:attribute name="item_id" type="xs:int" use="required" />
				<xs:attribute name="count" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PlayMovieOperation">
		<xs:complexContent>
			<xs:extension base="QuestOperation">
				<xs:attribute name="movie_id" type="xs:int" use="required" />
				<xs:attribute name="movie_type" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="ConditionUnionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AND" />
			<xs:enumeration value="OR" />
		</xs:restriction>
	</xs:simpleType>
	
		<xs:simpleType name="ConditionOperation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EQUAL" />
			<xs:enumeration value="GREATER" />
			<xs:enumeration value="GREATER_EQUAL" />
			<xs:enumeration value="LESSER" />
			<xs:enumeration value="LESSER_EQUAL" />
			<xs:enumeration value="NOT_EQUAL" />
			<xs:enumeration value="IN" />
			<xs:enumeration value="NOT_IN" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="QuestStatus">
		<xs:restriction  base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="START" />
			<xs:enumeration value="REWARD" />
			<xs:enumeration value="COMPLITE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CollectItems">
		<xs:sequence>
			<xs:element name="collect_item" type="CollectItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Rewards" >
		<xs:sequence>
			<xs:element name="selectable_reward_item" type="QuestItems" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reward_item" type="QuestItems" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
			<xs:attribute name="reward_id" type="xs:int"/>
			<xs:attribute name="gold" type="xs:int"/>
			<xs:attribute name="exp" type="xs:int"/>
			<xs:attribute name="reward_abyss_point" type="xs:int"/>
			<xs:attribute name="title" type="xs:int"/>
	</xs:complexType>
	
	<xs:complexType name="CollectItem" >
			<xs:attribute name="item_id" type="xs:int"/>
			<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>

	<xs:complexType name="QuestWorkItems" >
		<xs:sequence>
			<xs:element name="quest_work_item" type="QuestItems" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="QuestItems" >
			<xs:attribute name="item_id" type="xs:int"/>
			<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>

	<xs:simpleType name="NumberListType">
  		<xs:list itemType="xs:int"/>
	</xs:simpleType>

	<xs:simpleType name="ZoneNameListType">
  		<xs:list itemType="ZoneName"/>
	</xs:simpleType>

	<xs:simpleType name="Gender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MALE" />
			<xs:enumeration value="FEMALE" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ClassListType">
  		<xs:list itemType="playerClass"/>
	</xs:simpleType>
</xs:schema>